# Secret key to use when making JWT tokens
SECRET_KEY = "example-key"

# Algorithm to use for authentication
HASH_ALGORITHM = "HS256"

# Time (in minutes) JWT tokens are valid for
TOKEN_LIFE_TIME = 30
